{require_otp_vsn, "R1[456]B"}.
{deps, [
        {of_msg_lib, ".*",{git, "https://github.com/shivarammysore/of_msg_lib.git", {branch, "master"}}},
        {of_protocol,".*",{git, "https://github.com/FlowForwarding/of_protocol", {branch,"master"}}}
        
       ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.