[
{of_driver,[
		{listen_port, 6633},
		{of_compatible_versions, [3,4]},
		{callback_module, echo_handler}, %% Normally ofs_handler
		{init_opt,[ {enable_ping,false},
			    {ping_timeout,1000},
			    {ping_idle,5000}, 		%% IMPLEMENT
			    {multipart_timeout,30000} 	%% IMPLEMENT
		          ]
                }
	   ]}
].