[
{of_driver,[	{listen_ip, {0,0,0,0}},
		{listen_port, 6633},
		{listen_opts,[binary, {packet, raw}, {active, false}, {reuseaddr, true}]},
		{of_compatible_versions, [3,4]},
		{switch_handler, echo_handler},
		{init_opt,[ {enable_ping,false},
			    {ping_timeout,1000},
			    {ping_idle,5000}, 		%% IMPLEMENT
			    {multipart_timeout,30000}, 	%% IMPLEMENT
	 	            {callback_mod,echo_logic}
		          ]
                },

		{echo_handler,[
   		     {callback_module,echo_handler},
		     {peer,"localhost"},
		     {callback_opts,[]}
		 ]}

	   ]}
].